<tr class="project-row">
  <td>
    <%= link_to project_icon(project), project, style: 'background-color: #e3e34d', class: 'img-circle project-icon' %>
  </td>
  <td><h4><%= link_to project.name, project %></h4></td>
  <td><small><%= time_ago_in_words(project.created_at) %> ago</small></td>
  <td>
    <!-- TODO: implement teams for users with project -->
    <div class="nav-group-hz">
      <a href="#" title="Satheesh Kumar"><%= image_tag('no-avatar.png', height: '32', width: '32', class: 'img-circle') %></a>
      <a href="#" title="Naveen Kumar"><%= image_tag('no-avatar.png', height: '32', width: '32', class: 'img-circle') %></a>
      <a href="#" title="Syed Ansari"><%= image_tag('no-avatar.png', height: '32', width: '32', class: 'img-circle') %></a>
    </div>
  </td>
</tr>
