<tr>
  <td>
    <%= link_to project_icon(project), project, style: 'background-color: #e3e34d', class: 'img-circle project-icon' %>
  </td>
  <td><%= link_to project.name, project %></td>
  <td><%= project.desc %></td>
  <td><%= project.created_at %></td>
  <td>
    <div class="dropdown">
      <a class="dropdown-toggle" href="#" id="ProjectOptions<%= project.id %>" data-toggle="dropdown">
        More
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="ProjectOptions<%= project.id %>">
        <li><%= link_to 'Show', project %></li>
        <li><%= link_to 'Edit', edit_project_path(project) %></li>
        <li><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div>
  </td>
</tr>
