<div class="page-header">
  <div class="row">
    <div class="col-sm-6">
      <h4 class="page-title">My Space</h4>
    </div>
    <div class="col-sm-6">
      <div class="tool-bar">
        <div class="btn-group pull-right tool-bar-item" role="group">
          <%= link_to '<i class="fa fa-th-list"></i>'.html_safe, 'projects', class: 'btn btn-default btn-sm ' + set_active('projects') %>
          <%= link_to '<i class="fa fa-th"></i>'.html_safe, 'projects?view_type=grid', class: 'btn btn-default btn-sm ' + set_active('projects') %>
        </div>
        <div class="btn-group pull-right tool-bar-item" role="group">
          <%= link_to '<i class="fa fa-star"></i>'.html_safe, 'projects', class: 'btn btn-default btn-sm ' + set_active('projects') %>
          <a href="projects/archived" class="btn btn-default btn-sm <%= set_active('projects/archived') %>"><i class="fa fa-archive"></i></a>
          <a href="projects/completed" class="btn btn-default btn-sm <%= set_active('projects/completed') %>"><i class="fa fa-folder"></i></a>
        </div>
        <!--<ul class="nav nav-justified navbar-right">
          <%= nav_link '<i class="fa fa-star"></i> Starred'.html_safe, 'projects/starred' %>
          <li role="presentation"><a href="#"><i class="fa fa-archive"></i> Archived</a></li>
          <li role="presentation"><a href="#"><i class="fa fa-folder"></i> Completed</a></li>
        </ul>-->
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="projects-panel">
      <% if @view_type == 'grid' %>
        <div class="row">
          <%= render @projects %>
        </div>
      <% else %>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Img</th>
                <th>Name</th>
                <th>Created</th>
                <th>Collaborators</th>
              </tr>
            </thead>
            <tbody>
              <%= render :partial => 'list_item', :collection => @projects, :as => :project %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
