<section class="project">
  <div class="page-header project-header">
    <div class="row">
      <div class="col-sm-6">
        <h4 class="page-title"><%= @project.name %> <span class="label label-success">Completed</span></h4>
      </div>
      <div class="col-sm-6">
        <div class="tool-bar">
          <div class="btn-group pull-right tool-bar-item" role="group">
            <a href="#" class="btn btn-success btn-sm">Add Task list</a>
          </div>
          <div class="btn-group pull-right tool-bar-item" role="group">
            <%= link_to '<i class="fa fa-star"></i>'.html_safe, 'projects', class: 'btn btn-default btn-sm ' + set_active('projects') %>
            <a href="projects/archived" class="btn btn-default btn-sm <%= set_active('projects/archived') %>"><i class="fa fa-archive"></i></a>
            <a href="projects/completed" class="btn btn-default btn-sm <%= set_active('projects/completed') %>"><i class="fa fa-folder"></i></a>
          </div>
          <!--<ul class="nav nav-justified navbar-right">
            <%= nav_link '<i class="fa fa-star"></i> Starred'.html_safe, 'projects/starred' %>
            <li role="presentation"><a href="#"><i class="fa fa-archive"></i> Archived</a></li>
            <li role="presentation"><a href="#"><i class="fa fa-folder"></i> Completed</a></li>
          </ul>-->
        </div>
      </div>
    </div>
  </div>

  <article class="project-card">
    <header class="project-card-header">
      <div class="ribbon grey right"><span>archived</span></div>
      <!--<figure class="project-header-logo">
        <%= link_to project_icon(@project), @project, style: 'background-color: #e3e34d', class: 'img-circle project-icon' %>
      </figure>-->
      <div class="project-header-content">
        <h2><%= @project.name %> <small><a href="#" title="Make this project as favorite to see in favorites list"><span class="fa fa-star-o"></span></a></small></h2>
        <span><%= @project.desc %></span>
      </div>
      <div class="project-tool-bar pull-right">
        <%= link_to 'Edit Project', edit_project_path(@project) %> | <%= link_to '<i class="fa fa-gear"></i> Settings'.html_safe, projects_path %>
      </div>
    </header>
    <section class="project-card-content">
      <div class="row">

        <aside class="project-sidebar col-md-3 visible-md visible-lg">
          <ul class="nav nav-stacked">
            <li><a href="#" class="active"><i class="fa fa-list-alt"></i> Latest updates</a></li>
            <li class=""><a href="#"><i class="fa fa-th-list"></i> Todo List</a></li>
            <li class=""><a href="#"><i class="fa fa-comments"></i> Discussions</a></li>
            <li class=""><a href="#"><i class="fa fa-files-o"></i> Files</a></li>
            <li class=""><a href="#"><i class="fa fa-users"></i> Invite More</a></li>
          </ul>
        </aside>
        <section class="project-card-panel col-md-9 col-sm-12">
          <div class="panel latest-updates-panel">
            <div class="panel-heading">
              <h3 class="panel-title pull-left"><i class="fa fa-list-alt"></i> Latest updates</h3>
              <a href="#" class="pull-right">See all updates</a>
              <div class="clearfix"></div>
            </div>
            <div class="panel-body">
              <div class="latest-update">
                <div>you opened a todo1 <a href="#">create a website page1</a></div>
                <small>on <em>Jan 29 2015</em></small>
              </div>
              <div class="latest-update">
                <div>you opened a todo2 <a href="#">create a website page2</a></div>
                <small>on <em>Jan 29 2015</em></small>
              </div>
              <div class="latest-update">
                <div>you opened a todo3 <a href="#">create a website page3</a></div>
                <small>on <em>Jan 29 2015</em></small>
              </div>
              <div class="latest-update">
                <div>you opened a todo4 <a href="#">create a website page4</a></div>
                <small>on <em>Jan 29 2015</em></small>
              </div>
              <div class="latest-update">
                <div>you opened a todo5 <a href="#">create a website page5</a></div>
                <small>on <em>Jan 29 2015</em></small>
              </div>
            </div>
          </div>
          <div class="panel todo-list-panel">
            <div class="panel-heading">
              <h3 class="panel-title pull-left"><i class="fa fa-th-list"></i> Todo Lists</h3>
              <a href="#" class="pull-right">See all todo lists</a>
              <div class="clearfix"></div>
            </div>
            <div class="panel-body">
              <!--(.todo-list-group>h4{Todo list title$:}+(ul.nav.nav-stacked.todo-list>(li.todo-item>input:checkbox+span{todo list item$})*4)+a[href=#]{Add new todo})*4 -->
              <div class="todo-list-group">
                <h4>Todo list title1:</h4>
                <ul class="nav nav-stacked todo-list">
                  <li class="todo-item"><input type="checkbox" name="" id=""><span>todo list item1</span></li>
                  <li class="todo-item"><input type="checkbox" name="" id=""><span>todo list item2</span></li>
                  <li class="todo-item"><input type="checkbox" name="" id=""><span>todo list item3</span></li>
                  <li class="todo-item"><input type="checkbox" name="" id=""><span>todo list item4</span></li>
                </ul>
                <a href="#" class="add-new-todo">Add new todo</a>
              </div>
              <div class="todo-list-group">
                <h4>Todo list title2:</h4>
                <ul class="nav nav-stacked todo-list">
                  <li class="todo-item"><input type="checkbox" name="" id=""><span>todo list item1</span></li>
                  <li class="todo-item"><input type="checkbox" name="" id=""><span>todo list item2</span></li>
                  <li class="todo-item"><input type="checkbox" name="" id=""><span>todo list item3</span></li>
                  <li class="todo-item"><input type="checkbox" name="" id=""><span>todo list item4</span></li>
                </ul>
                <a href="#" class="add-new-todo">Add new todo</a>
              </div>
              <div class="todo-list-group">
                <h4>Todo list title3:</h4>
                <ul class="nav nav-stacked todo-list">
                  <li class="todo-item"><input type="checkbox" name="" id=""><span>todo list item1</span></li>
                  <li class="todo-item"><input type="checkbox" name="" id=""><span>todo list item2</span></li>
                  <li class="todo-item"><input type="checkbox" name="" id=""><span>todo list item3</span></li>
                  <li class="todo-item"><input type="checkbox" name="" id=""><span>todo list item4</span></li>
                </ul>
                <a href="#" class="add-new-todo">Add new todo</a>
              </div>
              <div class="todo-list-group">
                <h4>Todo list title4:</h4>
                <ul class="nav nav-stacked todo-list">
                  <li class="todo-item"><input type="checkbox" name="" id=""><span>todo list item1</span></li>
                  <li class="todo-item"><input type="checkbox" name="" id=""><span>todo list item2</span></li>
                  <li class="todo-item"><input type="checkbox" name="" id=""><span>todo list item3</span></li>
                  <li class="todo-item"><input type="checkbox" name="" id=""><span>todo list item4</span></li>
                </ul>
                <a href="#" class="add-new-todo">Add new todo</a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
  </article>
</section>
