<section class="project">
  <div class="page-header project-header">
    <div class="row">
      <div class="col-sm-6">
        <h4 class="page-title"><%= @project.name %> <span class="label label-success">Completed</span></h4>
      </div>
      <div class="col-sm-6">
        <div class="tool-bar">
          <div class="btn-group pull-right tool-bar-thumbnail" role="group">
            <a href="#" class="btn btn-success btn-sm">Add Task list</a>
          </div>
          <div class="btn-group pull-right tool-bar-thumbnail" role="group">
            <%= link_to '<i class="fa fa-star"></i>'.html_safe, 'projects', class: 'btn btn-default btn-sm ' + set_active('projects') %>
            <a href="projects/archived" class="btn btn-default btn-sm <%= set_active('projects/archived') %>"><i class="fa fa-archive"></i></a>
            <a href="projects/completed" class="btn btn-default btn-sm <%= set_active('projects/completed') %>"><i class="fa fa-folder"></i></a>
          </div>
          <!--<ul class="nav nav-justified navbar-right">
            <%= nav_link '<i class="fa fa-star"></i> Starred'.html_safe, 'projects/starred' %>
            <li role="presentation"><a href="#"><i class="fa fa-archive"></i> Archived</a></li>
            <li role="presentation"><a href="#"><i class="fa fa-folder"></i> Completed</a></li>
          </ul>-->
        </div>
      </div>
    </div>
  </div>

  <article class="project-card">
    <header class="project-card-header">
      <div class="ribbon grey right"><span>archived</span></div>
      <!--<figure class="project-header-logo">
        <%= link_to project_icon(@project), @project, style: 'background-color: #e3e34d', class: 'img-circle project-icon' %>
      </figure>-->
      <div class="project-header-content">
        <h2><%= @project.name %> <small><a href="#" title="Make this project as favorite to see in favorites list"><span class="fa fa-star-o"></span></a></small></h2>
        <span><%= @project.desc %></span>
      </div>
      <div class="project-tool-bar pull-right">
        <%= link_to 'Edit Project', edit_project_path(@project) %> | <%= link_to '<i class="fa fa-gear"></i> Settings'.html_safe, projects_path %>
      </div>
    </header>
    <section class="project-card-content">
      <div class="row">
        <aside class="project-sidebar col-md-3 visible-md visible-lg">
          <ul class="nav nav-stacked">
            <li><a href="#" class="active"><i class="fa fa-list-alt"></i> Latest updates</a></li>
            <li class=""><a href="#"><i class="fa fa-th-list"></i> Todo List</a></li>
            <li class=""><a href="#"><i class="fa fa-comments"></i> Discussions</a></li>
            <li class=""><a href="#"><i class="fa fa-files-o"></i> Files</a></li>
            <li class=""><a href="#" class="invite-user-link"><i class="fa fa-users"></i> Invite More</a></li>
          </ul>
        </aside>
        <section class="project-card-panel col-md-9 col-sm-12">
          <div class="panel latest-updates-panel">
            <div class="panel-heading">
              <h3 class="panel-title pull-left"><i class="fa fa-list-alt"></i> Latest updates</h3>
              <a href="#" class="pull-right">See all updates</a>
              <div class="clearfix"></div>
            </div>
            <div class="panel-body">
              <div class="latest-update">
                <div>you opened a todo1 <a href="#">create a website page1</a></div>
                <small>on <em>Jan 29 2015</em></small>
              </div>
              <div class="latest-update">
                <div>you opened a todo2 <a href="#">create a website page2</a></div>
                <small>on <em>Jan 29 2015</em></small>
              </div>
              <div class="latest-update">
                <div>you opened a todo3 <a href="#">create a website page3</a></div>
                <small>on <em>Jan 29 2015</em></small>
              </div>
              <div class="latest-update">
                <div>you opened a todo4 <a href="#">create a website page4</a></div>
                <small>on <em>Jan 29 2015</em></small>
              </div>
              <div class="latest-update">
                <div>you opened a todo5 <a href="#">create a website page5</a></div>
                <small>on <em>Jan 29 2015</em></small>
              </div>
            </div>
          </div>
          <div class="panel todo-list-panel">
            <div class="panel-heading">
              <h3 class="panel-title pull-left"><i class="fa fa-th-list"></i> Todo Lists</h3>
              <a href="#" class="pull-right">See all todo lists</a>
              <div class="clearfix"></div>
            </div>
            <div class="panel-body">
              <!--(.todo-list-group>h4{Todo list title$:}+(ul.nav.nav-stacked.todo-list>(li.todo-thumbnail>input:checkbox+span{todo list thumbnail$})*4)+a[href=#]{Add new todo})*4 -->
              <div class="todo-list-group">
                <h4>Todo list title1:</h4>
                <ul class="todo-list nav nav-stacked">
                  <li class="todo-thumbnail"><input type="checkbox"><span>todo list thumbnail1</span></li>
                  <li class="todo-thumbnail"><input type="checkbox"><span>todo list thumbnail2</span></li>
                  <li class="todo-thumbnail"><input type="checkbox"><span>todo list thumbnail3</span></li>
                  <li class="todo-thumbnail"><input type="checkbox"><span>todo list thumbnail4</span></li>
                  <li class="todo-thumbnail"><input type="checkbox"><input type="text" class="form-control input-sm" placeholder="Add new todo"></li>
                </ul>
              </div>
              <div class="todo-list-group">
                <h4>Todo list title2:</h4>
                <ul class="todo-list nav nav-stacked">
                  <li class="todo-thumbnail"><input type="checkbox"><span>todo list thumbnail1</span></li>
                  <li class="todo-thumbnail"><input type="checkbox"><span>todo list thumbnail2</span></li>
                  <li class="todo-thumbnail"><input type="checkbox"><span>todo list thumbnail3</span></li>
                  <li class="todo-thumbnail"><input type="checkbox"><span>todo list thumbnail4</span></li>
                  <li class="todo-thumbnail"><input type="checkbox"><input type="text" class="form-control input-sm" placeholder="Add new todo"></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel discussions-panel">
            <div class="panel-heading">
              <h3 class="panel-title pull-left"><i class="fa fa-comments"></i> Discussions</h3>
              <a href="#" class="pull-right">New discussion</a>
              <div class="clearfix"></div>
            </div>
            <div class="panel-body">
              <!--table.table.discussion-table>tbody>(tr>.discussion[class=clearfix]>(a[href=# title="Satheesh kumar"]{<%= image_tag('no-avatar.png', height: '32', width: '32', class: 'img-circle') %>}+span{Satheesh Kumar})+(span.discussion-content>a[href=#]{Login details not working - }+span{Hi Satheesh, I have completed the user login functionality, and exporting}))*3-->
              <table class="table discussion-table">
                <tbody>
                  <tr class="discussion">
                    <td class="hidden-xs">
                      <a href="#" title="Satheesh kumar">
                        <%= image_tag('no-avatar.png', height: '32', width: '32', class: 'img-circle') %>
                      </a>
                    </td>
                    <td>
                      <div class="discussion-content">
                        <a href="#">Login details not working - </a><span>Hi Satheesh, I have completed the user login functionality, and exporting</span>
                      </div>
                      <div class="attachments nav-group-hz">
                        <a href="#"><%= image_tag('no-avatar.png', height: '24') %></a>
                        <a href="#"><%= image_tag('no-avatar.png', height: '24') %></a>
                        <a href="#"><%= image_tag('no-avatar.png', height: '24') %></a>
                      </div>
                    </td>
                    <td>
                      <small>
                        <span>Jan 25 2016</span>
                        <span>03:30pm</span>
                      </small>
                    </td>
                  </tr>
                  <tr class="discussion">
                    <td class="hidden-xs">
                      <a href="#" title="Satheesh kumar">
                        <%= image_tag('no-avatar.png', height: '32', width: '32', class: 'img-circle') %>
                      </a>
                    </td>
                    <td width="70%">
                      <div class="discussion-content">
                        <a href="#">Login details not working - </a><span>Hi Satheesh, I have completed the user login functionality, and exporting</span>
                      </div>
                    </td>
                    <td>
                      <small>
                        <span>Jan 25 2016</span>
                        <span>03:30pm</span>
                      </small>
                    </td>
                  </tr>
                  <tr class="discussion">
                    <td class="hidden-xs">
                      <a href="#" title="Satheesh kumar">
                        <%= image_tag('no-avatar.png', height: '32', width: '32', class: 'img-circle') %>
                      </a>
                    </td>
                    <td width="70%">
                      <div class="discussion-content">
                        <a href="#">Login details not working - </a><span>Hi Satheesh, I have completed the user login functionality, and exporting</span>
                      </div>
                      <div class="attachments nav-group-hz">
                        <a href="#"><%= image_tag('no-avatar.png', height: '24') %></a>
                        <a href="#"><%= image_tag('no-avatar.png', height: '24') %></a>
                        <a href="#"><%= image_tag('no-avatar.png', height: '24') %></a>
                      </div>
                    </td>
                    <td>
                      <small>
                        <span>Jan 25 2016</span>
                        <span>03:30pm</span>
                      </small>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel attachments-panel" id="attachmentsPanel">
            <div class="panel-heading">
              <h3 class="panel-title pull-left"><i class="fa fa-files-o"></i> Attachments</h3>
              <a href="#" class="pull-right">See all files</a>
              <div class="clearfix"></div>
            </div>
            <div class="panel-body">
              <div class="attachments">
                <div class="row">
                  <div class="col-sm-3 col-xs-6">
                    <div class="attachment thumbnail"><a href="#attachmentsPanel" class="lightbox" data-show-modal="true" data-file-size="123 KB" data-file-name="no-avatar.png"><%= image_tag('no-avatar', width: '100%') %></a></div>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <div class="attachment thumbnail"><a href="#attachmentsPanel" class="lightbox" data-show-modal="true" data-file-size="123 KB" data-file-name="no-avatar.png"><%= image_tag('no-avatar', width: '100%') %></a></div>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <div class="attachment thumbnail"><a href="#attachmentsPanel" class="lightbox" data-show-modal="true" data-file-size="17 MB" data-file-name="no-avatar.png"><%= image_tag('no-avatar', width: '100%') %></a></div>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <div class="attachment thumbnail"><a href="#attachmentsPanel" class="lightbox" data-show-modal="true" data-file-size="123 KB" data-file-name="no-avatar.png"><%= image_tag('no-avatar', width: '100%') %></a></div>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <div class="attachment thumbnail"><a href="#attachmentsPanel" class="lightbox" data-show-modal="true" data-file-size="123 KB" data-file-name="no-avatar.png"><%= image_tag('no-avatar', width: '100%') %></a></div>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <div class="attachment thumbnail"><a href="#attachmentsPanel" class="lightbox" data-show-modal="true" data-file-size="13 KB" data-file-name="no-avatar.png"><%= image_tag('no-avatar', width: '100%') %></a></div>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <div class="attachment thumbnail"><a href="#attachmentsPanel" class="lightbox" data-show-modal="true" data-file-size="23 KB" data-file-name="no-avatar.png"><%= image_tag('no-avatar', width: '100%') %></a></div>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <div class="attachment thumbnail"><a href="#attachmentsPanel" class="lightbox" data-show-modal="true" data-file-size="423 KB" data-file-name="no-avatar.png"><%= image_tag('no-avatar', width: '100%') %></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
  </article>
  <div class="modal fade" id="attachmentLightBoxModal" tabindex="-1" role="dialog" aria-labelledby="attachmentLightBoxModalTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title lightbox-file-title" id="attachmentLightBoxModalTitle">Attachment Modal</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="lightbox-img"></div>
            </div>
            <div class="col-sm-8">
              <div class="lightbox-content">
                <h3 class="lightbox-file-title"></h3>
                <p>
                  <label>Size: </label><small class="lightbox-file-size"></small>
                </p>
              </div>
            </div>
          </div>
          <div class="lightbox-thumbnails">
            <div class="thumbnail attachment"><a href="#attachmentsPanel" class="lightbox" data-file-size="12 KB" data-file-name="no-avatar.png"><%= image_tag('no-avatar', width: '32') %></a></div>
            <div class="thumbnail attachment"><a href="#attachmentsPanel" class="lightbox" data-file-size="123 KB" data-file-name="no-avatar.png"><%= image_tag('no-avatar', width: '32') %></a></div>
            <div class="thumbnail attachment"><a href="#attachmentsPanel" class="lightbox" data-file-size="523 KB" data-file-name="no-avatar.png"><%= image_tag('no-avatar', width: '32') %></a></div>
            <div class="thumbnail attachment"><a href="#attachmentsPanel" class="lightbox" data-file-size="123 KB" data-file-name="no-avatar.png"><%= image_tag('no-avatar', width: '32') %></a></div>
            <div class="thumbnail attachment"><a href="#attachmentsPanel" class="lightbox" data-file-size="23 KB" data-file-name="no-avatar.png"><%= image_tag('no-avatar', width: '32') %></a></div>
            <div class="thumbnail attachment"><a href="#attachmentsPanel" class="lightbox" data-file-size="13 KB" data-file-name="no-avatar.png"><%= image_tag('no-avatar', width: '32') %></a></div>
            <div class="thumbnail attachment"><a href="#attachmentsPanel" class="lightbox" data-file-size="123 KB" data-file-name="no-avatar.png"><%= image_tag('no-avatar', width: '32') %></a></div>
            <div class="thumbnail attachment"><a href="#attachmentsPanel" class="lightbox" data-file-size="123 KB" data-file-name="no-avatar.png"><%= image_tag('no-avatar', width: '32') %></a></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"><i class="fa fa-download"></i> Download</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="inviteUserModal" tabindex="-1" role="dialog" aria-labelledby="inviteUserModalTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="inviteUserModalTitle">Invite User</h4>
        </div>
        <div class="modal-body">
          <%= form_tag(class: 'form form-horizontal') do |f| %>
            <div class="form-group">
              <label for="">Email address:</label>
              <%= text_field_tag :email, nil, class: 'form-control' %>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send Mail</button>
        </div>
      </div>
    </div>
  </div>
</section>
